apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order
          image: order-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5001
          env:
            - name: USER_SERVICE_URL
              value: "http://user-service:5000"
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  type: NodePort
  selector:
    app: order-service
  ports:
    - port: 5001
      targetPort: 5001
      nodePort: 30007